<header class="slug-header">
  <a (click)="back()" title="Back">
    &#8592; Go back!
  </a>
</header>

<app-card *ngIf="($item | async) as item; else placeholder">
  <ng-container thumb>
    <img
      [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/'+ item.id +'.svg'"
      width="400"
      height="400"
      loading="lazy"
      [alt]="item.pokemon?.name">
  </ng-container>

  <ng-container title>
    {{ item.pokemon?.name | titlecase }}
  </ng-container>

  <ng-container content>

    <div class="card-badge-list">
      <span *ngFor="let type of item.types"
            class="card-badge">
        {{ type.type.name }}
      </span>
    </div>

    <ng-container *ngIf="($evolution | async) as evolution">
      <app-card-evolution [items]="evolution.chain?.evolves_to"></app-card-evolution>
    </ng-container>

  </ng-container>
</app-card>

<ng-template #placeholder>
  <app-card></app-card>
</ng-template>
