<ul class="row">
  <li *ngFor="let item of placeholders"
      class="col-12 col-md-4">
    <app-card></app-card>
  </li>

  <li *ngFor="let item of [1,2,3,4,5,6,7,8,9]"
      class="col-12 col-md-4">
    <app-card>

      <ng-container thumb>
        <a [routerLink]="['/', item]" title="Bulbasaur">
          <img src="https://dummyimage.com/72"
               width="72"
               height="72"
               loading="lazy"
               alt="Bulbasaur">
        </a>
      </ng-container>

      <ng-container title>
        <a [routerLink]="['/', item]" title="Bulbasaur">
          Bulbasaur
        </a>
      </ng-container>

    </app-card>
  </li>
</ul>

<footer class="home-footer">
  <button type="button"
          class="home-footer-button">
    Load more
  </button>
</footer>
